[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/lib/ImGuiFileDialog"]
	path = vendor/lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
